@media (max-width:992px) {
    .section-2__text p{
        border-bottom: 1px solid #000000;
        padding-bottom: 15px;
        font-size: 13px;
    }
}

@media (max-width:768px) {
    .section-2__main{
        flex-direction: column;
    }

    .section-2__image img{
        margin-bottom: 30px;
    }

    .section-2__text{
        text-align: center;
    }

    .section-2__socia-medias{
        justify-content: center;
    }
}

@media (max-width:576px){
    .main-photo{
        width: 300px;
        height: auto;
    }

    .logo{
        font-size: 40px;
    }
}